<h2>修改</h2>
<br>
<form action="change.php" class="form-inline" method="get" style="padding-left: 70px;">
    <input id="change" name="op" type="hidden" value="change">
    <input class="form-control" id="title" name="title" placeholder="請輸入事件名稱"
           style="margin-top: 5px; margin-bottom: 3px;"
           type="text">
    <button id="search" style="width: 30px;height: 30px;" type="submit">
        <img alt="search" src="templates/web_image/search.png" width="20px">
    </button>
    {if isset($msg)}
    <br>
    <b class="text-danger">●{$msg}</b>
    {/if}
    {if isset($msgdanger)}
    <br>
    <b class="text-danger">●{$msgdanger}</b>
    {/if}
    {if isset($msgsuccess)}
    <br>
    <b class="text-success">●{$msgsuccess}</b>
    {/if}
</form>